$mainColor: #35b13c;
$yellow: #b2c455;
@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');

body{
    background-image: url('https://us.123rf.com/450wm/robybret/robybret1107/robybret110700003/9967533-ilustraci%C3%B3n-de-una-escena-de-noche-de-cielo-estrellado.jpg?ver=6');
    color: $mainColor;
    font-family: 'DotGothic16', sans-serif;
}

