$mainColor: #35b13c;
$yellow: #b2c455;
@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');

body{
    background-image: url('https://us.123rf.com/450wm/robybret/robybret1107/robybret110700003/9967533-ilustraci%C3%B3n-de-una-escena-de-noche-de-cielo-estrellado.jpg?ver=6');
    color: $mainColor;
    font-family: 'DotGothic16', sans-serif;
}

.introImg{
    display: block;
    width: 100%;
    margin: 0  auto;
    max-width: 500px;
    padding-bottom: 70px;
}
a{
    text-decoration: none;
    color: $mainColor;
}
ul{
    margin: 0 auto;
    padding: 0;
    text-align: center;
    display: flex;
    flex-direction: row;
    li{
        display: flex;
        justify-content: space-evenly;
        list-style-type: none;
        width: 90%;
        max-width: 550px;
        border-radius: 5px;
        margin: 0 auto 30px auto;
        margin-bottom: 30px;
        padding: 15px;
    }
}
@media (max-width: 600px) {
    .introImg{
        padding-bottom: 30px;
    }
    ul{
        flex-direction: column;
        li{
            border-radius: 5px;
            margin: 0 auto 30px auto;
            margin-bottom: 30px;
            padding: 0px;
        }
    }
}